<div class="ui modal food-item-modal">
    <i class="close icon"></i>
    <div class="header">
        Create Food Item
    </div>
    <div class="image content">
        <div class="ui transparent input name-container">
            <input type="text" placeholder="Add Name..." style="border-bottom: 1px solid blue">
        </div>

        <div class="upload-photo">


        </div>

        <div class="input-entry">
            <label>Description</label>
            <textarea></textarea>
        </div>
        <div class="nutritional-values-container">
            <label>Carbohidrates</label>
            <input />
            <label>Sugar</label>
            <input />
            <label>Fats</label>
            <input />
            <label>Proteins</label>
            <input />
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Save
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>