
body {
    min-height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.row-entry {
    float: left;
    clear: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.entry-label {
    float: left;
    clear: left;
    font-size: 17px;
}

.entry-input {
    float: left;
    clear: left;
    width: 100%;
    outline: none;
}

    .entry-input :focus {
        border: 1px solid #1AB13E;
    }


.form-control {
    height: 40px;
}

.loading-container {
    position: absolute !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #05064D !important;
    color: white !important;
}


footer {
    height: 60px;
    color: white;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    width: 100%;
    background-color: #3C46CF !important;
}

.navbar {
    width: 100%;
    border-radius: 0 !important;
    height: 55px;
}

.home-icon {
    position: absolute !important;
    left: 50%;
    right: 50%;
    top: 5px;
}

.navbar .account-icon {
    margin: auto 10px;
}

.account-icon {
    cursor: pointer;
}

.left-menu {
    background: rgba(72,83,234,1);
    background: -moz-linear-gradient(45deg, rgba(72,83,234,1) 0%, rgba(64,74,215,1) 10%, rgba(34,39,144,1) 47%, rgba(5,6,77,1) 82%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(72,83,234,1)), color-stop(10%, rgba(64,74,215,1)), color-stop(47%, rgba(34,39,144,1)), color-stop(82%, rgba(5,6,77,1)));
    background: -webkit-linear-gradient(45deg, rgba(72,83,234,1) 0%, rgba(64,74,215,1) 10%, rgba(34,39,144,1) 47%, rgba(5,6,77,1) 82%);
    background: -o-linear-gradient(45deg, rgba(72,83,234,1) 0%, rgba(64,74,215,1) 10%, rgba(34,39,144,1) 47%, rgba(5,6,77,1) 82%);
    background: -ms-linear-gradient(45deg, rgba(72,83,234,1) 0%, rgba(64,74,215,1) 10%, rgba(34,39,144,1) 47%, rgba(5,6,77,1) 82%);
    background: linear-gradient(45deg, rgba(72,83,234,1) 0%, rgba(64,74,215,1) 10%, rgba(34,39,144,1) 47%, rgba(5,6,77,1) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4853ea', endColorstr='#05064d', GradientType=1 );
}

    .left-menu .profile-picture-container {
        border: 1px solid red;
        float: left;
        width: 130px;
        margin-left: 63px;
        height: 125px;
    }

    .left-menu .action-buttons a {
        margin: 20px 5px;
        float: left;
        font-size: 20px;
    }

    .left-menu .profile-details {
        float: left;
        width: 100%;
    }

        .left-menu .profile-details .user-name {
            margin-left: 63px;
            float: left;
            clear: left;
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 16px;
        }


.nav-profile-picture {
    float: left;
    border: 1px solid red;
    width: 45px;
    height: 45px;
    border-radius: 13px;
}

.account-icon {
    float: left;
    margin-left: 30px !important;
}

.menu-trigger {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.body-content {
    float: left;
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

.ui.stackable.menu.navbar {
    margin-bottom: 0px;
}

@media screen and (max-height: 817px) {
    .footer {
        display: none;
        transition: all 2s linear;
    }
}

@media only screen and (min-height: 818px) {
    .footer {
        display: block;
        transition: all 2s linear;
    }
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.error-message, .success-message {
    transition: all 2s linear;
}

.ui.negative.message.error-message {
    position: absolute;
    top: 54px;
    right: 0px;
    width: 693px;
    z-index: 100;
}

.ui.success.message.success-message {
    position: absolute;
    top: 54px;
    right: 0px;
    width: 693px;
    z-index: 100;
}