
body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.row-entry {
    float: left;
    clear: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.entry-label {
    float: left;
    clear: left;
    font-size: 17px;
}

.entry-input {
    float: left;
    clear: left;
    width: 100%;
    outline: none;
}

    .entry-input :focus {
        border: 1px solid #1AB13E;
    }


.form-control {
    height: 40px;
}

.loading-container {
    position: absolute !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

footer, .navbar {
    background-color: #262266 !important;
    color: white !important;
}


footer {
    position: absolute !important;
    bottom: 0px !important;
    left: 0px;
    right: 0px;
    height: 60px;
}

.navbar {
    width: 100%;
    border-radius: 0 !important;
    height: 55px;
}

.home-icon {
    position: absolute !important;
    left: 50%;
    right: 50%;
    top: 5px;
}

.navbar .bar-icon {
    margin: auto 10px;
}

.bar-icon{
    cursor: pointer;
}

.left-menu {
}