<div id="create-exercise-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="close icon" onclick="closeCreateModal()"></i>
                <h5 class="modal-title">Save Exercise</h5>
            </div>

            <div class="modal-body">
                <div class="entry-column">
                    <div class="picture-preview-container">
                        <div class="upload-photo-container">
                            <img class="uploaded-photo" data-bind="attr:{src: PictureUrl}" onclick="riseClick()" />
                        </div>
                        <div class="upload-photo">
                            <span class="upload-style">Upload Picture</span>
                            <i class="upload big icon upload-style upload-icon" onclick="riseClick()"></i>
                            <input style="display: none;" type="file" id="exercise-item-photo" data-bind="event:{change: PresetPhoto}" />
                        </div>
                    </div>
                </div>
                <div class="entry-column">

                    <div class="details-part-1">
                        <div class="ui input food-name">
                            <input placeholder="Add name..." data-bind="value: Name" />
                        </div>
                        <textarea class="food-description" placeholder="Description..." data-bind="value: Description"></textarea>
                    </div>

                    <div class="details-part-2">

                        <div class="details-2-entry">
                            <label class="details-entry-label">Muscle Group</label>
                            <div class="ui input details-entry-input">
                                <select class="muscle-group" data-bind="semanticDropdown, options: MuscleGroups, optionsText:'Name', optionsValue:'Id', value: SelectedMuscleGroup"></select>
                            </div>
                        </div>

                        <div class="details-2-entry">
                            <label class="details-entry-label">Video Url</label>
                            <div class="ui input video-url details-entry-input">
                                <input placeholder="Add video url..." data-bind="value: VideoUrl" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer float-left">
                <div class="ui black deny button" onclick="closeCreateModal()">
                    Nope
                </div>
                <div class="ui positive right labeled icon button" data-bind="click: Save">
                    Save
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var riseClick = () => {
        $('#exercise-item-photo').click();
    }
</script>