<div class="entity-column">
    @* DO HERE TO FOREACH BINDING *@
    <div class="video-container">
        <div class="thumbnail-container">
            <img class="thumbnail-picture" />
        </div>
        <div class="description-part">
            <label class="video-title"></label>
            <div class="description">
            </div>
        </div>
    </div>
</div>