<div class="entity-column video-container" data-bind="attr:{id: Id}">
    <div class="thumbnail-container" data-bind="click: OpenVideoModal">
        <img class="thumbnail-picture" data-bind="attr:{src: PictureUrl}" />
    </div>
    <div class="description-part">
        <label class="video-title" data-bind="text: Title"></label>
        <div class="description" data-bind="text: Description">
        </div>
    </div>
</div>
