@model Cube.Models.ForgotPasswordEmailViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Welcome</title>
</head>
<body>
    <div>
        <p> Hello @Model.FullName,</p>
        <p> If you've lost your password or wish to reset it, use the link below to get started</p>
        <p> @Model.Link</p>
    </div>
</body>
</html>
